.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 10px 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-family: "Spline Sans";
}

.navbar ul li a:hover {
    color: #d43f3f;
    transition-duration: 300ms;
}